

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color: #e3e3e3;
  height: 100vh;
  /* padding: 2rem; */
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
}

.welcome {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-style: normal;
  flex: 1;
  text-align: left;
}

.logo {
  height: 10rem;
  width: auto;
  max-width: 300px;
  flex: 1;
  justify-content: center;
}

/* Tablet */
@media (max-width: 1024px) {
  .logo {
    content: url('myLogo.png'); /* tablet-specific image */
    height: 8rem;
    max-width: 120px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

/* Mobile devices */
@media (max-width: 768px) {
  .logo {
    content: url('myLogo.png'); /* mobile-specific image */
    height: 6rem;
    max-width: 100px;
  }
  .welcome {
    font-size: 2rem;
  }
}
@media (max-width: 632px) {
  .logo {
    content: url('myLogo.png'); /* mobile-specific image */
    height: 6rem;
    max-width: 100px;
  }
  .welcome {
    font-size: 1.8rem;
  }
}

/* Extra small phones */
@media (max-width: 480px) {
  .logo {
    content: url('myLogo.png'); /* tiny mobile image */
    height: 4.5rem;
    max-width: 80px;
  }
}

.login {
  flex: 1;
  display: flex;
  justify-content: right;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #eeeeee;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 20px 40px 40px 40px;
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  background-color: white;
  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #43a047, #66bb6a);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #ffa726, #ffb74d);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #ffb74d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background: linear-gradient(to right, rgb(19, 78, 94), rgb(113, 178, 128));
}

.operation--loan {
  background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
}

.operation--close {
  background: linear-gradient(to right, rgb(237, 33, 58), rgb(147, 41, 30));
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

.olabank-footer {
  margin-top: auto;
  background: linear-gradient(
    135deg,
    #000000,
    #3a3a3a,
    #c0c0c0
  ); /* Dark blue brand color */
  color: #ffffff;
  text-align: center;
  padding: 15px 10px;
  font-family: sans-serif;
  font-size: 14px;
}

/* body bdbbbb */
